@import "../../assets/Stylesheet/abstract/Variable.scss";
.custom-button {
  padding: 10px;
  font-size: $text-para;
  border: none;
  border-radius:$border-radius;
  background-color:$color-black;
  color: $color-white;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  font-weight: 400;
  gap:10px;
  font-size: 1rem;

  &:active {
    opacity: 0.6; 
}
}