$primary-color: #2ecc71;
$secondary-color: #ffffff;
$text-color: #333;
$border-radius: 20px;


$color-white:#fff;
$color-black:#282828;
$color-black-lable:'#262626';
$btn-Icon-border-color:#EDEDED;

//inputPropties
$input-bg-color:#EBECEC;
$input-lable-color:#787879;
$input-lable-size:1.2rem;
$input-error-color:red;
$input-error-text-size:1rem;
$input-value-size:1.2rem;
$input-lable-font-weight:300;

//fontSize
$text-heading:2rem;
$text-sub-heading:1.5rem;
$text-sidebar-lable:1.3rem;
$text-para:1rem;

//textColor
$text-heading-color:#3C3C3C;
$text-subHeading-color:#A5A5A5;
$text-hyper-link-color:#6B539A;
$btn-lable-color:#F2F2F2;
$btn-icon-lable-color:#535353;

//linearBg
$linear-background:linear-gradient(90deg, #7cb845 0%, #599a1e 100%);
$btn-bg-color:#7cb845;

